# Ignore virtual environment
venv/
env/
.venv/


# Ignore Python cache
__pycache__/
*.pyc

# Ignore system files
.DS_Store
Thumbs.db

# Ignore local env files
.env
secrets.json

# Ignore logs
*.log

# IDE/editor configs
.idea/
.vscode/